/**
 * @name Nate's Gray Theme
 * @version 2.0.0
 * @description Simple Gray Better Discord theme, Inspired by Mozilla Firefox's Gray Theme.
 * @author neite#0666
 * @authorLink https://github.com/dodiscordnate
 * @website https://github.com/dodiscordnate/
 * @source https://raw.githack.com/dodiscordnate/gray-bd-discord-theme/main/Nate%20-%20Gray%20v2.0.css
*/

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/status-picker/source.css);

.theme-dark,
.theme-light,
:root {
   --background-primary: #2b2a33 !important;
   --background-secondary: #242229 !important;
   --background-secondary-alt: #42414d !important;
   --background-tertiary: #18161d !important;
   --background-accent: #26242e !important;
   --background-floating: rgb(24, 22, 29) !important;
   --background-modifier-hover: rgba(0, 0, 0, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #ffffff !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #5f5d6e !important;
   --interactive-active: rgb(255, 255, 255) !important;
   --interactive-muted: #585858 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
